html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
.header{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    height: 100px;
}
.body{
    height:100vh;
    width:100vw;
    background-image: linear-gradient(to bottom, blue, white);
}
.all{
    height:100vh;
    width:100vw;
    background-image: linear-gradient(rgba(119, 136, 153, 1), rgba(119, 136, 153, 0));
}
.nav{
    height: 3.125rem;
    background-color:lightsteelblue;
    text-align:center;
}
.content{
    display: flex;
}
.bottom{
    height: 3.125rem;
    margin-top: 20rem;
    background-color:lightsteelblue;
}
.footer{
    text-align: center;
}
.verticalCenter{
    margin:0;
    position:relative;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.boxes{
    display:grid;
}
.box{
    border: 1px solid black;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    margin-top: 5rem;
    background-color: white;
    height: fit-content;
}
.tech{
    margin-left: 20rem;
    text-align: center;
}
.me{
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right:3rem;
    width: 20rem;
}
.symbol{
    width: 5rem;
    transition: transform 0.4s;
}
.symbol:hover{
    transform:scale(1.75);
}
button{
    background-color: lightsteelblue;
    width: 125px;
    font-size: 20px;
}
button:hover{
    transition-duration: 0.4s;
    background-color: white;
}