.head{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:lightslategrey;
    height: 100px;
}
.nav{
    height: 50px;
    background-color:lightsteelblue;
    text-align:center;
}
.main{
    display:flex;
}
.verticalCenter{
    margin:0;
    position:relative;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.aboutMe{
    background-color: lightsteelblue;
    width: 125px;
    font-size: 20px;
}
.aboutMe:hover{
    transition-duration: 0.4s;
    background-color: white;
}
img{
    padding-left: 5rem;
    padding-top: 5rem;
    width: 20%;
}
.box{
    border:1px solid black;
    padding-left: 10px;
    padding-right:10px;
    background-color: white;
}
.box1{
    margin-top:5rem;
}
.box2{
    margin-top: 5rem;
}